#personal-card-2{
  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  font-family: 'Montserrat', sans-serif;
  background: url('https://image.freepik.com/free-photo/programming-code-abstract-technology-background-software-developer-computer-script_34663-31.jpg') center center no-repeat;
  background-size: cover;

  .profile-card{
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #314652;

    .header{
      width: 100%;
      height: 250px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        border-top: 50px solid transparent;
        border-left: 450px solid white;
        bottom: 0;
      }
      img{
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
    .content{
      padding: 10px;
      text-align: center;
      h3{
        font-size: 25px;
      }
      h4{
        padding: 3px 0 10px;
      }
      p{
        margin-bottom: 10px;
        font-size: 14px;
      }
      ul{
        padding: 10px;
        li{
          list-style: none;
          display: inline-block;
          text-decoration: none;
          font-size: 18px;
          color: white;
          background-color: #314652;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          line-height: 35px;
          a {
            transition: all .2s ease-in-out;
            &:hover{
              transform: scale(1.2);
            }
          }
        }
      }
    }
    .footer{
      height: 100px;
      background-color: #314652;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        border-bottom: 50px solid transparent;
        border-right: 450px solid white;
        top: 0;
      }
      p{
        padding:45px;
        font-size: 14px;
      }
    }
  }
}
